{% extends 'base.html' %}

{% block content %}
<h2>Registrar Usuario</h2>
<form method="post">
    <label for="first_name">Nombre:</label>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="last_name">Apellido:</label>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="gemail">Correo electrónico:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="date_of_birth">Fecha de nacimiento:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" required><br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Registrar">
</form>
{% endblock %}
